:root {
  --primary-color: #486f3f;
  --secondary-color: #be7526;
  --secondary-color-40: #d5c0a5;
  --secondary-color-20: #ebdfd3;
  --accent-color-1: #9cbd2c;
  --accent-color-2: #dfb967;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

input,
select {
  height: 2rem;
  background: #fff;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: 3px;
}

option {
  /* Establece los estilos de los ítems */
  background-color: #fff !important;
  color: #333;
  font-size: 14px;
}

.search input {
  width: calc(50vw - 1rem);
}

.primary-button,
.secondary-button {
  display: block;
  background-color: var(--primary-color);
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  width: 250px;
  height: 40px;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  transition: background-color 0.5s ease-in-out;
}

.primary-button:hover {
  background-color: var(--accent-color-1);
}

.secondary-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: border-width 0.5s ease-in-out;
}

.secondary-button:hover {
  border-width: 3px;
}

.cta {
  display: block;
  background-color: var(--accent-color-1);
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  width: 106px;
  padding: 3px;
  transition: background-color 0.5s ease-in-out;
}

.cta:hover {
  background-color: var(--accent-color-2);
}

.white-section {
  margin: 16px;
  padding: 41px 0;
}

.principal {
  margin-top: 2rem;
}

.brown-section {
  padding-top: 41px;
  background-color: var(--secondary-color-20);
}

.brown-section .content-wrapper {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.brown-section .section-title {
  color: var(--secondary-color);
}

.brown-section .primary-button {
  background-color: var(--secondary-color);
  margin: 1rem auto;
}

.brown-section .img-wrapper {
  width: 100%;
  padding-top: 100%;
  background-image: url("../images/frutas_verduras.jpg");
  background-position: center;
  background-size: cover;
}

.section-title {
  font-size: 32px;
  line-height: 35px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 48px;
  line-height: 58px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.page-text {
  margin: 0 auto;
  max-width: 580px;
  text-align: center;
}

.section-text {
  text-align: center;
  max-width: 580px;
  margin: 0 auto 39px auto;
}

.white-section>.secondary-button {
  margin: 39px auto 0px auto;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-menu-1 {
  min-height: 96px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu-1>* {
  min-height: 48px;
}

.header-menu-1 .direct-access {
  display: flex;
  flex-basis: 100%;
}

.direct-access div {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direct-access div:first-child {
  background-color: var(--secondary-color-40);
}

.direct-access div:last-child {
  background-color: var(--secondary-color-20);
}

.direct-access a {
  color: #000;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
}

.hamburger a {
  color: #fff;
  font-size: 2rem;
}

.header-menu-2 {
  display: none;
  background-color: var(--primary-color);
  font-weight: bold;
  z-index: 100;
  position: absolute;
  top: 96px;
  width: 100%;
}

.header-menu-2 i {
  font-size: .5rem;
  font-weight: bolder;
  padding-top: .5rem;
  padding-left: .5rem;
}

.shown {
  display: block;
}

.header-menu-2 ul li {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 1px solid white;
}

.header-menu-2 ul li a,
.header-menu-2 ul li i {
  color: #fff;
}

.logo {
  margin-top: .2rem;
  width: 160px;
}

.redes {
  position: absolute;
  top: 110px;
  left: 20px;
  z-index: 1;
  display: flex;
  gap: 0.5em;
}

.redes a i {
  color: #fff;
  mix-blend-mode: difference;
}

.darker a i {
  color: var(--primary-color);
}

/* CAROUSEL AND HERO */

.hero {
  background-image: url("../images/hero_img_socis_xs.jpg");
  background-position: center;
  background-size: cover;
}

.carousel,
.hero {
  width: 100%;
  height: calc(100vh - 96px);
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
}

.carousel-slide-information,
.hero-information {
  position: absolute;
  z-index: 6;
  width: 85vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.carousel-slide-information h3,
.carousel-slide-information p,
.hero-information h3,
.hero-information p {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
}

.carousel-slide-information h3,
.hero-information h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}

.carousel-slide-information .primary-button,
.hero-information .primary-button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

.shadow-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #d9d9d9;
  mix-blend-mode: multiply;
  z-index: 5;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.carousel-control-icon {
  display: inline-block;
}

.carousel-control:hover .carousel-control-icon {
  opacity: 1;
}

/* CARD SLIDER */

.card-slider {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-slider>div:nth-child(2),
.card-slider>div:nth-child(3) {
  display: none;
}

.card-slider>a {
  display: block;
  position: absolute;
  top: 50%;
}

.card-slider>a:last-child {
  right: 0px;
}

.card {
  width: 212px;
  margin: 0 auto;
}

.card img {
  width: 100%;
}

.card-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card h4 {
  font-size: 24px;
  line-height: 27px;
  color: var(--primary-color);
}

/* CARD GRID */

.card-grid>* {
  margin: 3rem auto;
}

/* THUMBNAIL SLIDER */

.thumbnail-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 136px;
  height: 136px;
  background-color: var(--accent-color-1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail>* {
  color: #fff;
}

.thumbnail h6 {
  font-size: 18px;
  line-height: 20px;
}

.thumbnail-slider>div:nth-child(2) {
  background-color: #8aa091;
}

.thumbnail-slider>div:nth-child(3) {
  background-color: var(--secondary-color-40);
}

.thumbnail-slider>div:nth-child(4) {
  background-color: var(--secondary-color);
}

/* PRODUCTS CONTAINER */
.products-wrapper {
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
}

/* PRODUCTS THUMBNAILS */

.product-info {
  position: relative;
}

.product-thumbnail .product-info a,
.product-thumbnail .product-info h3 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.product-thumbnail .product-info a {
  color: #fff;
  font-size: 16px;
  display: block;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.product-thumbnail .product-info h3 {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  top: 50%;
  left: .5rem;
}

.product-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-action .product-buy {
  background-color: var(--accent-color-1);
  flex-basis: 50%;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-action .product-buy p {
  text-align: center;
  color: #fff;
}

/* PRODUCTS NAV ASIDE */

.products-nav {
  z-index: 50;
  background-color: var(--secondary-color-40);
  min-height: 48px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
}

.products-nav a {
  color: #000;
}

.products-nav .search {
  position: fixed;
  top: 105px;
  right: 16px;
}

.products-nav .category,
.products-nav .filters {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-nav .filters {
  background-color: var(--secondary-color-20);
}

.products-nav .category>*:not(h6),
.products-nav .filters>*:not(h6) {
  display: none;
}

.products-nav h6 {
  font-size: 16px;
}

/* FOOTER */

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

footer>* {
  margin: auto;
}

footer .info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer address {
  font-style: normal;
}

.footer_redes {
  text-align: center;
}

footer h6 {
  font-family: "Titillium web", sans-serif;
  font-size: 1rem;
}

footer a {
  color: #fff;
}

/* Estilos para tablet */
@media (min-width: 768px) {


  .search input {
    width: unset;
  }

  .white-section {
    margin: 95px auto;
    max-width: 980px;
  }

  .brown-section {
    position: relative;
    padding: unset;
    background-color: var(--secondary-color-20);
    min-height: 500px;
  }

  .brown-section::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background-image: url("../images/frutas_verduras.jpg");
    background-position: center;
    background-size: cover;
  }

  .brown-section .img-wrapper {
    display: none;
  }

  .brown-section .brown-inner-section {
    max-width: 980px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
  }

  .brown-section .content-wrapper {
    flex-basis: 50%;
    align-items: flex-start;
    margin: unset;
    padding: 1rem;
  }

  .brown-section .section-text {
    text-align: left;
  }

  .brown-section .primary-button {
    margin: unset;
    margin-top: 1rem;
  }

  .white-section>.secondary-button {
    margin: 75px auto 0px auto;
  }

  .page-title {
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  .section-text {
    margin-bottom: 75px;
  }

  /* HEADER */

  header {
    position: relative;
    top: unset;
    z-index: unset;
  }

  .header-menu-1 {
    min-height: 72px;
    align-items: center;
    padding: 0 50px;
  }

  .header-menu-1 .direct-access {
    flex-basis: unset;
    order: 2;
    gap: 1rem;
  }

  .direct-access div {
    background-color: transparent !important;
    flex-basis: unset;
  }

  .logo-container {
    padding-left: unset;
  }

  .direct-access a {
    color: #fff;
  }

  .header-menu-1 .hamburger {
    display: none;
  }

  .header-menu-2 {
    height: 55px;
    background-color: var(--secondary-color-40);
    display: flex;
    padding: 0 35px;
    position: relative;
    top: 0;
    left: 0;
  }

  .header-menu-2 ul {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-2 ul li {
    border: 0px;
    display: block;
  }

  .header-menu-2 ul li a,
  .header-menu-2 ul li i {
    color: #000;
  }

  .header-menu-2 i {
    font-size: .7rem;
    padding-top: unset;
    padding-left: unset;
  }

  .logo {
    width: 230px;
  }

  .redes {
    top: 140px;
    left: 50px;
    z-index: 100;
    gap: 0.5em;
  }

  /* CAROUSEL */


  .hero {
    background-image: url("../images/hero_img_socis_xl.jpg");
  }

  .carousel {
    height: calc(100vh - 127px);
  }

  .carousel-slide-information h3,
  .carousel-slide-information p,
  .hero-information h3,
  .hero-information p {
    text-align: left;
  }

  .carousel-slide-information,
  .hero-information {
    width: 25vw;
    min-width: 200px;
    top: 50%;
    left: 75%;
    align-items: flex-start;
  }

  .carousel-slide-information .primary-button {
    margin: unset;
  }

  /* CARD SLIDER */
  .card-slider {
    flex-direction: row;
  }

  .card-slider>div:nth-child(2),
  .card-slider>div:nth-child(3) {
    display: block;
  }

  .card {
    width: 285px;
  }

  /* CARD GRID */

  .card-grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* THUMBNAIL SLIDER */

  .thumbnail-slider {
    gap: 1.5rem;
  }

  .thumbnail {
    width: 208px;
    height: 208px;
  }

  .thumbnail h6 {
    font-size: 26px;
    line-height: 28px;
    display: block;
    flex-basis: 50%;
  }


  /* PRODUCTS CONTAINER */

  .products-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 3fr;
    max-width: 980px;
    margin: 0 auto;
  }

  /* PRODUCTS THUMBNAILS */

  .products-wrapper {
    margin: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 5rem;
  }

  .product-thumbnail .product-info h3 {
    font-size: 32px;
    line-height: 34px;
  }

  .product-action .product-buy {
    min-height: 2em;
  }

  /* PRODUCTS NAV ASIDE */

  .products-nav {
    background-color: unset;
    min-height: unset;
    width: unset;
    position: relative;
    bottom: unset;
    display: unset;
  }

  .products-nav .search {
    position: relative;
    top: unset;
    right: unset;
  }

  .products-nav .category,
  .products-nav .filters {
    flex-basis: unset;
    display: block;
    justify-content: unset;
    align-items: unset;
  }

  .products-nav .filters {
    background-color: unset;
  }

  .products-nav .filters .season,
  .search {
    display: flex;
    flex-direction: column;
  }

  .products-nav .category>*:not(h6),
  .products-nav .filters>*:not(h6) {
    display: block;
  }

  /* espaciado entre elementos del nav: */
  .search,
  .category h6,
  .category ul li,
  .filters h6,
  .filters .season label,
  .filters .season select {
    margin-bottom: .7em;
  }

  .category h6, .filters h6 {
    font-family: "Titillium Web", sans-serif;
    border-bottom: 1px solid #000;
    padding-bottom: .3em;
  }

  /* FOOTER */

  footer {
    padding-top: 2rem;
  }

  footer .info {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
  }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
  /**/
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  /**/
}